.input {
  border: none;
  border-bottom: solid gray 1px;
  background-color: inherit;
  margin-left: 5px;
}
.input:focus {
  background-color: rgb(203, 229, 238);
  border-bottom: solid rgb(170, 170, 170) 1px;
  border: none;
  outline: none;
}
.input:hover {
  background-color: rgb(218, 230, 233);
}
.item {
  height: 50px;
}
.user__form {
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error {
  color: #ffa726;
}
.container__error {
  display: flex;
  justify-content: center;
}
.registration__message {
  display: flex;
  justify-content: center;
  height: 35px;
  align-items: center;
}
.message__text {
  color: green;
  font-weight: 600;
}
.button {
  cursor: pointer;
  background-color: whitesmoke;
  height: 30px;
  border-radius: 10px;
  font-weight: 600;
}
.button:active {
  background-color: rgb(203, 229, 238);
}
.button:hover {
  background-color: rgb(203, 229, 238);
}
