.day {
  width: 160px;
  height: 170px;
  margin: 10px 0;
  border-radius: 15px;
  border: 1px solid lightgray;
  cursor: pointer;
}
.day:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.title {
  text-align: center;
  font-weight: 300;
}
.label {
  width: 15px;
  height: 15px;
}
.time {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.green {
  background-color: green;
}
.red {
  color: red !important;
}
.status {
  display: flex;
  justify-content: center;
}
.status__text {
  text-align: center;
  color: green;
  width: 110px;
}
