.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  white-space: nowrap;
}
.link a {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 150px;
  height: 30px;
  text-decoration: none;
  color: whitesmoke;
  border-radius: 15px;
}
.link a:hover {
  background-color: #bbdefb;
  color: black;
}
.link a.activ {
  color: black;
  background-color: wheat;
}
