.information {
  display: flex;
  justify-content: space-between;
}
.block__right {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .information {
    display: block;
  }
  .block__right {
    width: 100%;
  }
}
