.button__container {
  width: 250px;
  display: flex;
  justify-content: space-between;
}
.title {
  width: 350px;
  text-align: center;
}
.container {
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.text {
  color: #04a304;
}
